import React from "react"
import { PageProps } from "gatsby"
import i18n from "i18next"
import SEO from "{{upPath pagePath}}components/layout/seo"
import { useCustomTranslation } from "{{upPath pagePath}}i18n"
import { Comments } from "{{upPath pagePath}}components/core/comments"
import translationFr from "{{upPath pagePath}}locales/fr/{{pagePath}}.json"
import translationEn from "{{upPath pagePath}}locales/en/{{pagePath}}.json"
import {
  {{uppercase (getCountry pagePath)}}BlogLayout,
  {{uppercase (getCountry pagePath)}}Title,
  {{uppercase (getCountry pagePath)}}Quote,
  {{uppercase (getCountry pagePath)}}Headline,
} from "{{upPath pagePath}}components/core/{{getContinent pagePath}}/{{getCountry pagePath}}/{{getCountry pagePath}}"
import {
  How,
  HowLong,
  HowMuch,
  Introduction,
  SectionContent,
  Visit,
  WhatTimeOfYear,
  When,
  WhereToStay,
} from "../../../../components/core/section"
import { Conclusion } from "{{upPath pagePath}}components/core/conclusion"
import { Divider } from "{{upPath pagePath}}components/core/divider"
import HomeImgUrl from "{{upPath pagePath}}images/{{getContinent pagePath}}/{{getCountry pagePath}}/home-{{getCountry pagePath}}.jpg"

const namespace = "{{pagePath}}"
const id = "{{getId pagePath}}"
i18n.addResourceBundle("fr", namespace, translationFr)
i18n.addResourceBundle("en", namespace, translationEn)

const IndexPage: React.FunctionComponent<PageProps> = ({ location }) => {
  const { t, i18n } = useCustomTranslation([namespace, "common"])
  const title = t(`common:country.{{getCountry pagePath}}.card.${id}`)
  const description = t("quote")
  const googleDescription = t("introduction")

  return (
    <>
      <SEO
        title={title}
        description={description}
        googleDescription={googleDescription}
        image={HomeImgUrl}
        location={location}
      />
      <{{uppercase (getCountry pagePath)}}BlogLayout page={id} location={location}>
        <{{uppercase (getCountry pagePath)}}Title title={title} linkId={id} />
        <{{uppercase (getCountry pagePath)}}Quote>{description}</{{uppercase (getCountry pagePath)}}Quote>
        <Divider />
        <Introduction>{googleDescription}</Introduction>
        <Divider />
        <When>
          <p>{t("when.part1")}</p>
        </When>
        <How>
          <p>{t("how.part1")}</p>
        </How>
        <HowLong>
          <p>{t("how-long.part1")}</p>
        </HowLong>
        <WhatTimeOfYear>
          <p>{t("what-time-of-year.part1")}</p>
        </WhatTimeOfYear>
        <HowMuch>
          <p>{t("how-much.part1")}</p>
        </HowMuch>
        <WhereToStay>
          <p>{t("where-to-stay.part1")}</p>
        </WhereToStay>
        <Visit>
          <p>{t("visit.part1")}</p>
        </Visit>
        <Divider />
        <section>
          <{{uppercase (getCountry pagePath)}}Headline>{t("visit1.title")}</{{uppercase (getCountry pagePath)}}Headline>
          <Divider />
          <SectionContent>
            <p>{t("visit1.part1")}</p>
          </SectionContent>
        </section>
        <Conclusion>
          <p>{t("conclusion")}</p>
          <ul>
            <li>{t("question1")}</li>
            <li>{t("question2")}</li>
          </ul>
        </Conclusion>
        <Divider />
        <Comments
          collectionName={namespace}
          location={location}
          facebookQuote={`${t("facebook.part1")}\n${t("facebook.part2")}`}
          pinterest=\{{
            description: t("pinterest"),
            nodes:
              i18n.languageCode === "fr"
                ? []
                : [],
          }}
        />
      </{{uppercase (getCountry pagePath)}}BlogLayout>
    </>
  )
}

export default IndexPage
